* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(239, 136, 46);
  background: linear-gradient(
    90deg,
    rgba(239, 136, 46, 1) 2%,
    rgba(224, 85, 46, 1) 100%
  );
}

h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin-left: 3rem;
}

ol {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: 5rem;
  margin-top: 3rem;
}

img {
  height: 21rem;
}

.input {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  align-self: center;
}
.input-field {
  width: 19rem;
  height: 2.5rem;
  border-radius: 4px;
  background-color: white;
  border: 0px;
}

.search-button {
  height: 2.4rem;
  width: 2.4rem;
  background-color: black;
  border: 0px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.fa-search {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5rem 3rem 0;
}

.list {
  grid-column: 1/2;
  grid-row: 2/3;
}

li {
  margin-bottom: 1rem;
}

.image {
  justify-self: center;
}
