* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(239, 136, 46);
  background: linear-gradient(
    90deg,
    rgba(239, 136, 46, 1) 2%,
    rgba(224, 85, 46, 1) 100%
  );
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin-left: 3rem;
}

ol {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: 5rem;
  margin-top: 3rem;
}

li {
  margin-bottom: 1rem;
}

img {
  height: 20rem;
  transform: rotate(10deg);
}

.input {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  align-self: center;
  margin-top: 6rem;
}
.input-field {
  width: 19rem;
  height: 2.5rem;
  border-radius: 4px;
  background-color: white;
  border: 0;
  padding-left: 1rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.search-button {
  height: 2.4rem;
  width: 2.4rem;
  background-color: black;
  border: 0px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.fa-search {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 4.5rem 3rem 0;
}

.list {
  grid-column: 1/2;
  grid-row: 2/3;
}

/*////////////////MOBILE////////////////////////////*/

@media (max-width: 56em) {
  .container {
    display: block;
  }
  body {
    text-align: center;
  }
  h1 {
    font-size: 3rem;
  }

  li {
    text-align: center;
    list-style-position: inside;
  }
  ol {
    margin-left: 0;
  }
  h1 {
    margin-left: 0;
  }
  img {
    height: 15rem;
    margin-top: 3rem;
  }
  .input {
    margin-top: 3rem;
  }
  .input-field {
    width: 10rem;
  }
} ;
