body {
  background: rgb(239, 136, 46);
  background: linear-gradient(
    90deg,
    rgba(239, 136, 46, 1) 2%,
    rgba(224, 85, 46, 1) 100%
  );
}

h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

ol {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.input {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.input-field {
  width: 24rem;
  height: 2rem;
  border-radius: 4px;
  background-color: white;
  border: 0px;
}

.search-button {
  height: 2.4rem;
  width: 2.4rem;
  background-color: black;
  border: 0px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.fa-search {
  color: white;
}
